<div class="sponsor-container1" style="margin: 1em 0;">
<a href="https://apps.apple.com/th/app/tripzy/id1564625604" target="_blank" rel="nofollow" class="support-5" style="margin: 0; border: 2px solid #531CAD">
<picture>
<img src="https://is1-ssl.mzstatic.com/image/thumb/Purple125/v4/76/e0/f4/76e0f426-a6fb-810b-a102-80ef4ea52c4f/AppIcon-0-1x_U007emarketing-0-10-0-85-220.png/460x0w.webp" style="max-height: 50em">
</picture>
<div style="padding-right: 20px"></div>
<p class="tripzy"><b><u>Tripzy - Track Your Trip Expenses</u></b> - Enjoy one of compact travel's budget trackers, directly through your pocket.
No hassle, to the point, and without no login required along with the intuitive dashboard
Tripzy gives you access to create your travel expenses and track them easily from your device without any hassle.

</p>
</a>
<div class="fineprint-1 fineprint-container-2">
<span>Support MY BLOG by checking out this sponsor. Find more details <a href="/sponsor/">here</a>.</span>
</div>
</div>

<style>
  .sponsor-container1 img{max-height:2.75em;float:left;margin-top:0!important;margin-right:1em!important}
  .sponsors-hof{display:flex;flex-wrap:wrap;justify-content:center;margin:.75em 0}
  .sponsors-hof img{height:5em;padding:0 .75em}
  .fineprint-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em 0 0;
    font-size: .8em;
  }
  .fineprint-1 {
    margin-bottom: 0;
    color: #A9A9A9;
  }
  .support-5 {
    border-radius: 8px;
    border: 2px solid var(--tint-color);
    padding: 1em;
    margin: 1em 0;
    display: block;
    text-decoration: none;
    max-height: 50em;
  }
  .tripzy {
    color: #531CAD;
  }
  a.support-5 {
    display: flex;
    align-items: center;
  }
  b {
    font-weight: bold;
  }}
</style>


<!--
<div class="sponsor-container" style="margin: 1em 0;">
<a href="https://gumroad.com/a/122262643" target="_blank" rel="nofollow" class="support3" style="margin: 0; border: 2px solid red">
<div style="padding-right: 20px"></div>
<p class="sponsor-text-1"><b><u>AppCoda - Beginner Book iOS15</u></b> - Want to start as iOS Programmer but dunno where to start? Beginner book from AppCoda is the one to go. Start your journey with this book without any hesitation. Use discount code "launch2021" while you are purchasing this book throughout this link.</p>
</a>
<div class="fineprint fineprint-container">
<span>Support MY BLOG by checking out this sponsor. Find more details <a href="/sponsor/">here</a>.</span>
</div>
</div> -->
<!-- <picture>
<img src="/img/appcoda/mastering-swiftui-starter-gumroad.jpeg" style="max-height: 50em">
</picture> -->
<!-- <style>
  .sponsor-container img{max-height:2.75em;float:left;margin-top:0!important;margin-right:1em!important}
  .sponsors-hof{display:flex;flex-wrap:wrap;justify-content:center;margin:.75em 0}
  .sponsors-hof img{height:5em;padding:0 .75em}
  .fineprint-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em 0 0;
    font-size: .8em;
  }
  .fineprint {
    margin-bottom: 0;
    color: #A9A9A9;
  }
  .support3 {
    background-image: url("/img/appcoda/beginner-book-ios15-wide.jpg");
    background-size: cover;
    border-radius: 8px;
    border: 2px solid var(--tint-color);
    padding: 1em;
    margin: 1em 0;
    display: block;
    text-decoration: none;
  }
  a.support {
    display: flex;
    align-items: center;
  }
  .sponsor-text-1 {
    color: red;
    text-shadow: 2px 2px black;
  }
  b {
    font-weight: bold;
  }}
</style> -->
