<div class="sponsor-container" style="margin: 1em 0;">
<a href="https://gumroad.com/a/1061786739" target="_blank" rel="nofollow" class="support" style="margin: 0; border: 2px solid #f24949">
<div style="padding-right: 20px"></div>
<p class="sponsor-text"><b><u>AppCoda - Mastering SwiftUI</u></b> - One of the best book out there for accelerating your understanding of SwiftUI. Use discount code "launch2021" while you are purchasing this book throughout this link.</p>
</a>
<div class="fineprint fineprint-container">
<span>Support MY BLOG by checking out this sponsor. Find more details <a href="/sponsor/">here</a>.</span>
</div>
</div>
<!-- <picture>
<img src="/img/appcoda/mastering-swiftui-starter-gumroad.jpeg" style="max-height: 50em">
</picture> -->
<style>
  .sponsor-container img{max-height:2.75em;float:left;margin-top:0!important;margin-right:1em!important}
  .sponsors-hof{display:flex;flex-wrap:wrap;justify-content:center;margin:.75em 0}
  .sponsors-hof img{height:5em;padding:0 .75em}
  .fineprint-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4em 0 0;
    font-size: .8em;
  }
  .fineprint {
    margin-bottom: 0;
    color: #A9A9A9;
  }
  .support {
    background-image: url("/img/appcoda/mastering-swiftui-starter-gumroad.jpeg");
    background-size: cover;
    border-radius: 8px;
    border: 2px solid var(--tint-color);
    padding: 1em;
    margin: 1em 0;
    display: block;
    text-decoration: none;
  }
  a.support {
    display: flex;
    align-items: center;
  }
  .sponsor-text {
    color: #f24949;
    text-shadow: 2px 2px black;
  }
  b {
    font-weight: bold;
  }}
</style>
